// main ./main.less

/* ============================================================================================ */
/* >>>>>>>>>>>>> buttons ============================================== */
/* ============================================================================================ */


.btn-style-1 {
  padding:@spacing;
  display:inline-block;
  border-radius:999px;
  font-size:@medium-font-size;
  width:300px;
  text-align:center;
  font-family:@alt-font;
  font-weight:700;
  text-transform:uppercase;
  -webkit-transition:background-color .2s ease-in-out;
       -o-transition:background-color .2s ease-in-out;
          transition:background-color .2s ease-in-out;
	cursor:pointer;
  color:@gold;
  border:2px solid @gold;
  background-color:fade(@gold, 0%);
  &:hover {
    background-color:fade(@gold, 100%);;
    color:@white;
  }
  @media (max-width:1024px){
    width:100%;
  }
}

.btn-style-2 {
  padding:@spacing @spacing*4;
  display:inline-block;
  border-radius:999px;
  font-size:@medium-font-size;
  text-align:center;
  font-family:@alt-font;
  font-weight:700;
  text-transform:uppercase;
  -webkit-transition:background-color .2s ease-in-out;
       -o-transition:background-color .2s ease-in-out;
          transition:background-color .2s ease-in-out;
	cursor:pointer;
  color:@white;
  border:2px solid @white;
  background-color:fade(@white, 0%);
  &:hover {
    background-color:fade(@white, 100%);;
    color:@gold;
  }
  @media (max-width:1024px){
    width:100%;
  }
}
